# Wk18-Lecture01-CodeAlong

In [1]:
import pandas as pd
df = pd.read_csv('Data/ive_minute_sp500.csv.gz')
df.head()

,Date,Time,BidOpen,BidHigh,BidLow,BidClose,AskOpen,AskHigh,AskLow,AskClose
0,09/28/2009,09:30,37.76,37.76,37.76,37.76,37.83,37.83,37.83,37.83
1,09/28/2009,09:31,37.80,37.80,37.78,37.79,37.81,37.81,37.80,37.81
2,09/28/2009,09:32,37.81,37.84,37.81,37.84,37.82,37.86,37.82,37.86
3,09/28/2009,09:33,37.84,37.84,37.84,37.84,37.84,37.86,37.84,37.85
4,09/28/2009,09:34,37.84,37.84,37.82,37.82,37.85,37.85,37.84,37.84