# Prepare Wide Time Series

In [ ]:
# !pip install yfinance
import yfinance as yfin
yfin.pdr_override()

##  Pandas DataReader Import
import pandas_datareader.data as pdr
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import plotly.express as px

In [1]:
import datetime as dt
start_date = '2001-01-01'
end_date = dt.date.today()
end_date

In [4]:
cryptocurrencies = {"Bitcoin":'BTC-USD',#"Tether":'USDT-USD',
                    "Etherium":'ETH-USD',"Dogecoin": "DOGE-USD"}

In [30]:
crypto_dfs = []
crypto_df_dict = {}
## Loop through dict of currency names and symbols
for currency, symbol in cryptocurrencies.items():
    
    temp_df = pdr.get_data_yahoo(symbol, start_date, end_date)[['Adj Close']]
    
    temp = temp_df['Adj Close']
    temp.name = currency
    crypto_dfs.append(temp)
    
    temp_df['Currency']=currency
    temp_df = temp_df.rename({'Adj Close':symbol},axis=1)
#     temp_df['Symbol'] = symbol
    crypto_df_dict[currency] = temp_df

df = pd.concat(crypto_dfs, axis=1)
df

[*********************100%***********************]  1 of 1 completed

/var/folders/rf/vw4r41jd7vd95x1w0dth7v9h0000gp/T/ipykernel_33157/1375701956.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df['Currency']=currency

[*********************100%***********************]  1 of 1 completed

/var/folders/rf/vw4r41jd7vd95x1w0dth7v9h0000gp/T/ipykernel_33157/1375701956.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df['Currency']=currency

[*********************100%***********************]  1 of 1 completed

/var/folders/rf/vw4r41jd7vd95x1w0dth7v9h0000gp/T/ipykernel_33157/1375701956.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df['Currency']=currency

                 Bitcoin     Etherium  Dogecoin
Date
2014-09-17    457.334015          NaN       NaN
2014-09-18    424.440002          NaN       NaN
2014-09-19    394.795990          NaN       NaN
2014-09-20    408.903992          NaN       NaN
2014-09-21    398.821014          NaN       NaN
...                  ...          ...       ...
2023-01-22  22720.416016  1628.382080  0.088304
2023-01-23  22934.431641  1628.251099  0.088605
2023-01-24  22636.468750  1556.604248  0.083950
2023-01-25  23117.859375  1611.711060  0.086594
2023-01-26  23032.777344  1603.105957  0.086373

[3054 rows x 3 columns]

In [31]:
# crypto_df_dict['Bitcoin']

In [32]:
# pd.DataFrame.from_dict(crypto_df_dict,orient='index')

In [33]:
df.T

Date,2014-09-17,2014-09-18,2014-09-19,2014-09-20,2014-09-21,2014-09-22,2014-09-23,2014-09-24,2014-09-25,2014-09-26,...,2023-01-17,2023-01-18,2023-01-19,2023-01-20,2023-01-21,2023-01-22,2023-01-23,2023-01-24,2023-01-25,2023-01-26
Bitcoin,457.334015,424.440002,394.79599,408.903992,398.821014,402.152008,435.790985,423.204987,411.574005,404.424988,...,21161.519531,20688.781250,21086.792969,22676.552734,22777.625000,22720.416016,22934.431641,22636.468750,23117.859375,23032.777344
Etherium,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1567.846069,1515.506958,1552.556519,1659.754150,1627.118164,1628.382080,1628.251099,1556.604248,1611.711060,1603.105957
Dogecoin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.082982,0.080191,0.081660,0.086403,0.084765,0.088304,0.088605,0.083950,0.086594,0.086373

In [37]:
df_wide = df.T
df_wide.columns = df_wide.columns.strftime('%Y-%m-%d')

df_wide = df_wide.reset_index()
df_wide = df_wide.rename({'index':'CryptoCurrency'},axis=1)
df_wide

Date,CryptoCurrency,2014-09-17,2014-09-18,2014-09-19,2014-09-20,2014-09-21,2014-09-22,2014-09-23,2014-09-24,2014-09-25,...,2023-01-17,2023-01-18,2023-01-19,2023-01-20,2023-01-21,2023-01-22,2023-01-23,2023-01-24,2023-01-25,2023-01-26
0,Bitcoin,457.334015,424.440002,394.79599,408.903992,398.821014,402.152008,435.790985,423.204987,411.574005,...,21161.519531,20688.781250,21086.792969,22676.552734,22777.625000,22720.416016,22934.431641,22636.468750,23117.859375,23032.777344
1,Etherium,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1567.846069,1515.506958,1552.556519,1659.754150,1627.118164,1628.382080,1628.251099,1556.604248,1611.711060,1603.105957
2,Dogecoin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.082982,0.080191,0.081660,0.086403,0.084765,0.088304,0.088605,0.083950,0.086594,0.086373

In [38]:

df_wide['Symbol'] = df_wide['CryptoCurrency'].map(cryptocurrencies)
df_wide['Currency'] = df_wide['Symbol'].map(lambda x: x.split('-')[0])
df_wide

Date,CryptoCurrency,2014-09-17,2014-09-18,2014-09-19,2014-09-20,2014-09-21,2014-09-22,2014-09-23,2014-09-24,2014-09-25,...,2023-01-19,2023-01-20,2023-01-21,2023-01-22,2023-01-23,2023-01-24,2023-01-25,2023-01-26,Symbol,Currency
0,Bitcoin,457.334015,424.440002,394.79599,408.903992,398.821014,402.152008,435.790985,423.204987,411.574005,...,21086.792969,22676.552734,22777.625000,22720.416016,22934.431641,22636.468750,23117.859375,23032.777344,BTC-USD,BTC
1,Etherium,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1552.556519,1659.754150,1627.118164,1628.382080,1628.251099,1556.604248,1611.711060,1603.105957,ETH-USD,ETH
2,Dogecoin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.081660,0.086403,0.084765,0.088304,0.088605,0.083950,0.086594,0.086373,DOGE-USD,DOGE

In [39]:
id_cols = ['CryptoCurrency','Symbol','Currency']
df_wide = df_wide[[*id_cols,*df_wide.drop(columns=id_cols).columns]].copy()
df_wide

Date,CryptoCurrency,Symbol,Currency,2014-09-17,2014-09-18,2014-09-19,2014-09-20,2014-09-21,2014-09-22,2014-09-23,...,2023-01-17,2023-01-18,2023-01-19,2023-01-20,2023-01-21,2023-01-22,2023-01-23,2023-01-24,2023-01-25,2023-01-26
0,Bitcoin,BTC-USD,BTC,457.334015,424.440002,394.79599,408.903992,398.821014,402.152008,435.790985,...,21161.519531,20688.781250,21086.792969,22676.552734,22777.625000,22720.416016,22934.431641,22636.468750,23117.859375,23032.777344
1,Etherium,ETH-USD,ETH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1567.846069,1515.506958,1552.556519,1659.754150,1627.118164,1628.382080,1628.251099,1556.604248,1611.711060,1603.105957
2,Dogecoin,DOGE-USD,DOGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.082982,0.080191,0.081660,0.086403,0.084765,0.088304,0.088605,0.083950,0.086594,0.086373

In [40]:
# df_wide = df_wide.rename({'index':'Symbol'},axis=1)
df_wide = df_wide.reset_index(drop=True)
df_wide

Date,CryptoCurrency,Symbol,Currency,2014-09-17,2014-09-18,2014-09-19,2014-09-20,2014-09-21,2014-09-22,2014-09-23,...,2023-01-17,2023-01-18,2023-01-19,2023-01-20,2023-01-21,2023-01-22,2023-01-23,2023-01-24,2023-01-25,2023-01-26
0,Bitcoin,BTC-USD,BTC,457.334015,424.440002,394.79599,408.903992,398.821014,402.152008,435.790985,...,21161.519531,20688.781250,21086.792969,22676.552734,22777.625000,22720.416016,22934.431641,22636.468750,23117.859375,23032.777344
1,Etherium,ETH-USD,ETH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1567.846069,1515.506958,1552.556519,1659.754150,1627.118164,1628.382080,1628.251099,1556.604248,1611.711060,1603.105957
2,Dogecoin,DOGE-USD,DOGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.082982,0.080191,0.081660,0.086403,0.084765,0.088304,0.088605,0.083950,0.086594,0.086373

In [41]:
df_wide.columns

Index(['CryptoCurrency', 'Symbol', 'Currency', '2014-09-17', '2014-09-18',
       '2014-09-19', '2014-09-20', '2014-09-21', '2014-09-22', '2014-09-23',
       ...
       '2023-01-17', '2023-01-18', '2023-01-19', '2023-01-20', '2023-01-21',
       '2023-01-22', '2023-01-23', '2023-01-24', '2023-01-25', '2023-01-26'],
      dtype='object', name='Date', length=3057)

In [42]:
df_wide

Date,CryptoCurrency,Symbol,Currency,2014-09-17,2014-09-18,2014-09-19,2014-09-20,2014-09-21,2014-09-22,2014-09-23,...,2023-01-17,2023-01-18,2023-01-19,2023-01-20,2023-01-21,2023-01-22,2023-01-23,2023-01-24,2023-01-25,2023-01-26
0,Bitcoin,BTC-USD,BTC,457.334015,424.440002,394.79599,408.903992,398.821014,402.152008,435.790985,...,21161.519531,20688.781250,21086.792969,22676.552734,22777.625000,22720.416016,22934.431641,22636.468750,23117.859375,23032.777344
1,Etherium,ETH-USD,ETH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1567.846069,1515.506958,1552.556519,1659.754150,1627.118164,1628.382080,1628.251099,1556.604248,1611.711060,1603.105957
2,Dogecoin,DOGE-USD,DOGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.082982,0.080191,0.081660,0.086403,0.084765,0.088304,0.088605,0.083950,0.086594,0.086373

In [45]:
df_wide.to_csv('../Data/stocks/wide-form-crypto.csv',index=False)

In [46]:
df = pd.read_csv('../Data/stocks/wide-form-crypto.csv')
df

,CryptoCurrency,Symbol,Currency,2014-09-17,2014-09-18,2014-09-19,2014-09-20,2014-09-21,2014-09-22,2014-09-23,...,2023-01-17,2023-01-18,2023-01-19,2023-01-20,2023-01-21,2023-01-22,2023-01-23,2023-01-24,2023-01-25,2023-01-26
0,Bitcoin,BTC-USD,BTC,457.334015,424.440002,394.79599,408.903992,398.821014,402.152008,435.790985,...,21161.519531,20688.781250,21086.792969,22676.552734,22777.625000,22720.416016,22934.431641,22636.468750,23117.859375,23032.777344
1,Etherium,ETH-USD,ETH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1567.846069,1515.506958,1552.556519,1659.754150,1627.118164,1628.382080,1628.251099,1556.604248,1611.711060,1603.105957
2,Dogecoin,DOGE-USD,DOGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.082982,0.080191,0.081660,0.086403,0.084765,0.088304,0.088605,0.083950,0.086594,0.086373

### Following ChatGPT's  Long to Wide tips

In [12]:
raise Exception("not needed!")

Exception: not needed!

In [ ]:
## Need to make cols have same prefix
split_cols = df.columns.str.split('-')
split_cols

In [ ]:
split_cols.map(lambda x: '-'.join([x[1],x[0]]))

In [ ]:
df.columns = split_cols.map(lambda x: '-'.join([x[1],x[0]]))
df

In [ ]:
df = df.reset_index()
df

In [ ]:
pd.wide_to_long(df,"Date",'')

In [ ]:
# chatgpt
pd.wide_to_long(df, ['Value'], i='Date', j='Date', suffix='\w+')